nav {
  background:white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  font-family: 'Megrim', cursive;
}
 
.nav-link {
  color: #343434;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  z-index: 2;
}
 
.nav-link:hover {
  background: #343434;
  color: white;
  z-index: 2;
}

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/* Inicio */
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#about_me{
  background-color: rgb(255,204,128);
  font-family: 'Megrim', cursive;
}
h6{
  text-align: justify;
}
#cv{
  font-size: 150%;
  font-family: 'Megrim', cursive;
  color: #191918;
}
#cv:hover{
  font-size: 150%;
  font-family: 'Anton', sans-serif;
  color: #191918;
}
.redireccion{
  color: black;
}
.redireccion:hover{
  color: black;
}
h1 {
  display: inline-block;
  padding: .3em;
  font-family: 'Megrim', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%,-50%);
  color: #343434;
  border: .075em solid #343434;
  z-index: 1;
  text-align: center;
  width: 60%;
}

/* About Me */
#abilities{
  height: 100%;
}
#work{
  height: 100vh;
  background-color: white;
}
#kaybel{
  width: 50%;
  border-radius: 50%;
  margin-bottom: 3%;
  margin-left: 25%;
}
#meme{
  text-align: justify;
  margin-left: 10%;
  margin-right: 5%;
}

/* Contact me*/

a span {
  background-color: #343434;
  color: #cacaca;
  opacity:0;
  font-size: 30%;
}
a:hover span {
  opacity:1;
  -webkit-transition: opacity .1s ease-in .5s;
}
button span {
  background-color: #343434;
  color: #cacaca;
  opacity:0;
}
button:hover span {
  opacity:1;
  -webkit-transition: opacity .1s ease-in .5s;
} 
.fa, .fas {
  font-weight: 900;
  font-size: 150%;
}
h2{
  text-align: center;
  font-family: 'Charmonman', cursive;
  color: #343434;
}
.icon{
  border: none;
  background-color: inherit;
  font-size: 75%;
}
.fa-envelope:before {
  content: "\f0e0";
  color: #191918;
  font-size: 135%;
}
.fab {
  color: #191918;
  font-size: 300%;
  text-align: center;
  margin-top: 36%;
}
#contact_me{
  position: fixed;
  height: 10%;
}
/*fixed*/

.icons-fixed {
  position: fixed;
  bottom: 1%;
}

.icons-fixed .icons {
	width: 80px;
	height: 80px;
	font-size: 60px;
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 2px;
	border-radius: 50%;
	color: #fff;
	background-color: #c1b8b8;
	cursor: pointer;
	transition-duration: 300ms;
	transition-timing-function: linear;
}
/*sections*/
h2{
  padding-top: 5%;
  padding-bottom: 5%;
}
/* Abilities */

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
  left: 80%;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
  left: 82%;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
  left: 84%;
}

.fakeMenu {
  width: 365px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 365px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10%;
}

p {
  position: relative;
  left:35%;
  margin-left: -8.5em;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.line1 {
  color: #9CD9F0;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
  margin-left: -30%;
}

.line2 {
  color: #CDEE69;
  -webkit-animation: type .5s 2s steps(20, end) forwards;
  -moz-animation: type .5s 2s steps(20, end) forwards;
  -o-animation: type .5s 2s steps(20, end) forwards;
  animation: type .5s 2s steps(20, end) forwards;
  margin-left: -30%;
}

.line3 {
  color: #E09690;
  -webkit-animation: type .5s 4s steps(20, end) forwards;
  -moz-animation: type .5s 4s steps(20, end) forwards;
  -o-animation: type .5s 4s steps(20, end) forwards;
  animation: type .5s 4s steps(20, end) forwards;
  margin-left: -30%;
}

.line4 {
  color: #36ff36;
  -webkit-animation: type .5s 6s steps(20, end) forwards;
  -moz-animation: type .5s 6s steps(20, end) forwards;
  -o-animation: type .5s 6s steps(20, end) forwards;
  animation: type .5s 6s steps(20, end) forwards;
  margin-left: -30%;
}

.line5{
  color: #dc93ff;
  -webkit-animation: type .5s 8s steps(20, end) forwards;
  -moz-animation: type .5s 8s steps(20, end) forwards;
  -o-animation: type .5s 8s steps(20, end) forwards;
  animation: type .5s 8s steps(20, end) forwards;
  margin-left: -30%;
}

.line6{
  color: #7dfdff;
  -webkit-animation: type .5s 10s steps(20, end) forwards;
  -moz-animation: type .5s 10s steps(20, end) forwards;
  -o-animation: type .5s 10s steps(20, end) forwards;
  animation: type .5s 10s steps(20, end) forwards;
  margin-left: -30%;
}

.line7{
  color: #fff;
  -webkit-animation: type .5s 12s steps(20, end) forwards;
  -moz-animation: type .5s 12s steps(20, end) forwards;
  -o-animation: type .5s 12s steps(20, end) forwards;
  animation: type .5s 12s steps(20, end) forwards;
  margin-left: -25%;
}
.cursor{
  color: #fff;
  -webkit-animation: blink 1s 12s infinite;
  -moz-animation: blink 1s 12s infinite;
  -o-animation: blink 1s 12s infinite;
  animation: blink 1s 12s infinite;
  margin-left: 25%;
}
.devicon-github-original-wordmark:before, .devicon-github-plain-wordmark:before {
  content: "\e90a";
  font-size: 285%;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}

/* queries */ 
@media(min-width: 360px){
  #meme{
    margin-left: 0%;
    margin-right: 12%;
  }
  .fakeMenu {
    width: 300px;
    margin-left: 5%;
  }
  .fakeScreen{
    width: 300px;
    margin-left: 5%;
  }
  #canvas{
    width: 100vw;
    height: 100vh;
  }
}
@media(min-width: 412px){
  #meme{
    text-align: justify;
    margin-left: 0%;
    margin-right: 10%;
  }
  .fakeMenu{
    margin-left: 5%;
  }
  .fakeScreen{
    margin-left: 5%;
  }
  h1{
    left: 56%;
  }
}
@media(min-width: 768px){
  h1{
    left: 50%;
  }
  #meme{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }
  em{
    font-size: 50%;
    font-family: 'Charmonman', cursive;
  }
  .fakeScreen{
    width: 500px;
  }
  .fakeMenu{
    width: 500px;
  }
}
@media (min-width: 992px) { 
  #about_me{
    padding: 5%;
    font-family: 'Megrim', cursive;
  }
  #work{
    padding: 5%;
    height: 100vh;
  }
  #abilities{
    padding: 5%;
  }
  h1{
    margin-bottom: 5%;
    width: 25%;
  }
  #meme {
    margin-right: 48%;
    margin-left: 10%;
  }
  #kaybel{
    position: absolute;
    margin-left: 55%;
    width: 23%;
    margin-top: 12%;
  }
  button#nav{
    color: #343434;
    border: none;
    background-color: inherit;
    display: block;
    text-align: center;
    position: relative;
    right: -30%;
    margin-left: 5%;
    
  }
  canvas {
    width: 98.8vw;
    height: 100vh;
  }
  .fakeMenu{
    margin-left: 25%;
  }
  .fakeScreen{
    margin-left: 25%;
  }
}
@media(min-width: 1280px){
  #kaybel{
    margin-top: 7%;
  }
  #work{
    height: 100vh;
  }
}
@media(min-width: 1000px){
  #about_me{
    padding: 0%;
    font-family: 'Megrim', cursive;
  }
  #abilities{
    padding: 0%;
  }
  #work{
    padding: 0%;
    height: 100vh;
  }
  #canvas{
    width: 98.88vw;
    height: 100vh;
  }
}
@media(max-width: 767px){
  h1{
    font-size: 150%;
  }
  .fakeMenu{
    width: 340px;
  }
  .fakeScreen{
    width: 340px;
  }
  #canvas{
    width: 100%;
  }
  #work{
    height: 160vh;
    padding: 20%;
  }
}

.bg1 {
  background-image:url(../../assets/img/WhatsApp\ Image\ 2018-10-19\ at\ 08.24.34.jpeg); 
  background-size: cover; 
  background-size: 250px auto; 
  display: inline-block;
}
.bg2 {
  background-image:url(../../assets/img/WhatsApp\ Image\ 2018-10-19\ at\ 08.24.45.jpeg); 
  background-size: cover; 
  background-size: 250px auto; 
  display: inline-block;
}
.bg3 {
  background-image:url(../../assets/img/WhatsApp\ Image\ 2018-10-19\ at\ 07.54.57.jpeg); 
  background-size: cover; 
  background-size: 250px auto; 
  display: inline-block;
}
.cube {
  position: relative;
  width: 250px; 
  height:230px; 
  background: white;
  float:left;
  margin:10px 10px 80px 10px;
  overflow: hidden;
}
.icons-fixed{
  z-index: 2;
}
.cube div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.slideTextUp img {
  margin-top:20px;
}

.slideTextUp div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slideTextUp div:nth-child(2) { 
  top: 100%;
}

.slideTextUp:hover div {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}