@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Nav */

nav {
  width: 100%;
  height: 60px; 
  position: fixed; 
  top: 0;
  background-color: #343434 ;
}

/* nav centrado y con espacio de la barra de la página*/
nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
/* nav block */
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
/* nav color */
nav ul li a {
  padding: 10px 0;
  color: #e6b31e;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #fcfaf1;
}
/* color de a luego de activar los links*/
a.active {
  border-bottom: 2px solid #ecf0f1;
}

/* Textos de la página */
h1 {
  font-size: 5rem;
  color: #343434;
}
#hwork{
margin-top: 0;
}
/* imagenes */
#logo{
  width: 20%;
  height: 50%;
  margin-top: 10%;
}
#about{
 text-align: left;
}
/* Secciones */
section {
  width: 100%;
  padding: 50px;
  border-bottom: 1px solid #ccc;
  height: 500px;
  text-align: center;
}
section:nth-child(even) {
  background: #cacaca ;
}
section:nth-child(odd) {
  background: #e6b31e;
}
.sections section:first-child {
  margin-top: 60px;
}

/* Animacion de Habilidades*/
p{
  font-weight: bold;
  font-size: 30px;
  display: inline;
  color: #343434;
}

div{
  position: absolute;
  overflow: hidden;
  animation: words 4s infinite ease-in-out;
}

@keyframes words{
  from {
      width:40%
  }
  to{
      width:50%;
  }
}
